nav {
  width: 100%;
  font-size: 25px;
  /* /* background: #6956af; */
  height: auto;
  font-family: 'Bungee', cursive;
  height: 80px;
  color: #fff;
  background-color: #14efff;
}

a {
  color: #fed420;
}

h6 {
  text-align: center;
}


a:hover {
  color: #fed420;
  text-decoration: none;
}

nav li {
  display: inline-block;
  padding: 0px 0;
  width: 25%;
}

ul {
  display: flex; 
  align-items: center;
} 

 @media only screen and (max-width: 750px) { 
  #cur-sco, #top-sco {
    font-size: 2rem; 
  }
} 



