
.card-img  > .img-container > img {
    height: 170px;
    width: 170px;
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 15px 15px rgba(0,0,0,.22);
    border: 5px solid #ff1414;
    border-radius: 3px;
    
  }
  .card-img  > .img-container > img:hover {
    border-color: greenyellow;
    cursor: pointer;
    transform: scale(1.1,1.1);
    
  }

  .card-img > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
  }
  
  .card-img > .content > ul {
    list-style-type: none;
  }
  
  .card-img > .content > ul > li {
    margin-top: 18px;
  }
  
 
  


 