 .jumbotron {
  background-color: #2c323c;
  background-image: url('./images/marvel-7.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 75%;
  color: #fff;
  min-height: 370px;
  text-align: center;
  margin-bottom: 0px;
} 
.header h1 {
  margin-top: 130px;
  margin-bottom: 50px;
  font-size: 3rem;
} 
.header-div-wrapper {
  margin-top: -60px;
}

.header {
    width: 1680px;
   
  }
  .header-div-wrapper{

  }