/* .card-img {
  background: #fff;
  border-radius: 2px;
  height: 325px;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
} */

/* .card-img > .img-container {
  height: 80%;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
} */
.card-img  > .img-container > img {
    height: 170px;
    width: 170px;
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    border: 5px solid #ff1414;
      border-radius: 3px;
  }
  
  .card-img > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
  }
  
  .card-img > .content > ul {
    list-style-type: none;
  }
  
  .card-img > .content > ul > li {
    margin-top: 18px;
  }
  
  /* .card-img > .remove {
    color: #ff1744;
    font-size: 48px;
    position: absolute;
    top: -20px;
    right: 5px;
    cursor: pointer;
  } */
  
  .card-img > .remove:hover {
    color: #d50000;
  }