.title {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.imgClick {
  transform: scale(1.5);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
  transition: all .07s ease;
}





