* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background: url(./marvel_avengers_battle_for_the_earth_artwork1.jpg);
  background-size: cover;
}
